[Unit]
Description=Oxy Daemon
After=network.target

[Service]
ExecStart=/usr/bin/oxy --server
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
